<phpunit bootstrap="tests/init.php">
    <testsuites>
        <testsuite name="OneId">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <file>src/autoload.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>